.card {
    flex-basis: 20%;
    display: inline-block;
}

.visual {
    width: 100%;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px;
}

.title {
    flex-wrap: wrap;
}

.text {
    display: block;
    padding-bottom: 20px;
}

.btn {
    padding: 7px 0 7px;
}